<div class="gallery">
  <!-- Карточки изображений -->
  <!-- Шаблон разметки карточки одного изображения для галереи -->
  <!-- <div class="photo-card">
    <a href="${}">
      <img
        class="gallery-image"
        src="${}"
        alt="${}"
        title="${}"
        loading="lazy"
      />
    </a>
    <div class="info">
      <p class="info-item">
        <b>Likes</b>
        <span class="info-api">${}</span>
      </p>
      <p class="info-item">
        <b>Views</b>
        <span class="info-api">${}</span>
      </p>
      <p class="info-item">
        <b>Comments</b>
        <span class="info-api">${}</span>
      </p>
      <p class="info-item">
        <b>Downloads</b>
        <span class="info-api">${}</span>
      </p>
    </div>
  </div> -->
</div>
<button type="button" class="load-more is-hidden">Load more</button>
